@import web.data.Query
@import basics.FactComponent;

@(query: Query)
<div class="py-2 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="text-center justify-content-center" method="post" action="@routes.ExplainController.explain()">
                    <div class="py-1 px-0">
                        @*<div class="container">*@
                        <div class="align-baseline">
                            <div class="row col-md"> <label class="form-label mb-0"><h6>Query</h6></label></div>
                            <div class="form-row text-left">

                                <div class="form-group col-md-3">
                                    <input name="subject" class="form-control m-1" placeholder="Subject" value="@FactComponent.stripBrackets(query.getSubject())">
                                </div>
                                <div class="form-group col-md-3" id="scrollable-dropdown-menu">
                                    <input name="predicate" class="form-control m-1 typeahead" placeholder="Predicate" value="@FactComponent.stripBrackets(query.getPredicate())">
                                </div>
                                <div class="form-group col-md-3 " >
                                    <input name="object" class="form-control m-1" placeholder="Object" value="@FactComponent.stripBrackets(query.getObject())">
                                </div>

                                <div class="form-group col-md-3">
                                    <button type="submit" class="btn btn-primary text-center btn-block m-1">Explain!</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-12 text-left">
                                <label class="form-label"><h6>Rules</h6></label>
                                <textarea name="rules" class="form-control" rows="3" placeholder="a(?x,?y):- b(?x,?z), c(?z,?y)." >@query.getRules().trim()</textarea>

                            </div>
                        </div>


                        @*<div class="form-row">*@
                        @*<div class="col-md-12">*@
                        @*<div id="exTab2" class="container">*@
                        @*<ul class="nav nav-tabs">*@
                        @*<li class="nav-item">*@
                        @*<a href="#1" data-toggle="tab" class="nav-link active">Rules</a>*@
                        @*</li>*@
                        @*<li class="nav-item"><a href="#2" data-toggle="tab" class="nav-link" >*@
                        @*Dictionary</a>*@
                        @*</li>*@
                        @*</ul>*@

                        @*<div class="tab-content">*@
                        @*<div class="tab-pane active" id="1">*@
                        @*<div class="form-group col-md-12 text-left">*@
                        @*<label class="col-form-label-lg">Rules</label>*@
                        @*<div class="row mt-4">*@
                        @*<textarea name="rules" class="form-control" rows="3" placeholder="a(?x,?y):- b(?x,?z), c(?z,?y)." >@query.getRules().trim()</textarea>*@
                        @*</div>*@
                        @*</div>*@
                        @*</div>*@
                        @*<div class="tab-pane" id="2">*@
                        @*<p> Dictionary for predicates</p>*@

                        @*</div>*@


                        @*</div>*@
                        @*</div>*@
                        @*</div>*@


                        @*</div>*@
                    </div>

                    @*</div>*@


                </form>
                <hr>

            </div>
        </div>
    </div>
</div>



    <script>
        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str["value"])) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };

        // var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
        //     'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
        //     'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
        //     'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
        //     'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
        //     'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
        //     'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
        //     'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
        //     'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
        // ];

        var states = [{"value":"actedIn"},
            {"value":"byTransport"},
            {"value":"created"},
            {"value":"dealsWith"},
            {"value":"diedIn"},
            {"value":"directed"},
            {"value":"edited"},
            {"value":"graduatedFrom"},
            {"value":"happenedIn"},
            {"value":"hasAcademicAdvisor"},
            {"value":"hasCapital"},
            {"value":"hasChild"},
            {"value":"hasCurrency"},
            {"value":"hasDuration"},
            {"value":"hasGender"},
            {"value":"hasMusicalRole"},
            {"value":"hasOfficialLanguage"},
            {"value":"hasWonPrize"},
            {"value":"influences"},
            {"value":"isAffiliatedTo"},
            {"value":"isCitizenOf"},
            {"value":"isConnectedTo"},
            {"value":"isInterestedIn"},
            {"value":"isKnownFor"},
            {"value":"isLeaderOf"},
            {"value":"isLocatedIn"},
            {"value":"isMarriedTo"},
            {"value":"isPoliticianOf"},
            {"value":"livesIn"},
            {"value":"owns"},
            {"value":"participatedIn"},
            {"value":"playsFor"},
            {"value":"wasBornIn"},
            {"value":"worksAt"},
            {"value":"wroteMusicFor"}];



        $('#scrollable-dropdown-menu .typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    name: 'states',
                    display: 'value',
                    source: substringMatcher(states),
                    templates: {
                        suggestion: Handlebars.compile('<div class="list-group-item col-xs-10"><strong>{{value}}</strong></div>')
                    }

                });


    </script>