@import extendedsldnf.datastructure.IQueryExplanations
@import web.data.Query
@import basics.FactComponent;
@import de.mpii.dataprocessing.util.FactUtils;
@import utils.Enums;


@(query:Query, explanations: IQueryExplanations)
<div class="px-0">

    @*<script data-main="@routes.Assets.versioned("javascripts/checkboxes.js")" type="text/javascript" src="@routes.Assets.versioned("javascripts/checkboxes.js")" ></script>*@

    <div class="container">
        @if(explanations!=null) {
            <h5 > Explanations for why ''<strong>
                @*<a href="@FactComponent.stripBrackets(FactComponent.wikipediaURL(explanations.getQueryAsFact().getSubject()))"  target="_blank"> @explanations.getQueryAsFact().getReadableSubject()</a>*@
                @* @explanations.getQueryAsReadableString() *@
                @*<span> @FactUtils.getReadablePredicateName(explanations.getQueryAsFact().getPredicate())</span>*@
                @*<a href="@FactComponent.stripBrackets(FactComponent.wikipediaURL(explanations.getQueryAsFact().getObject()))"  target="_blank">  @explanations.getQueryAsFact().getReadableObject()</a>*@
                @fact(explanations.getQueryAsFact())
            </strong>''  may be true.</h5>
            <hr>
            }else{

        }

    </div>

    @if(explanations == null) {
        <div class="py-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">Explain a fact!</h4>
                            <p>Write your candidate fact, a set of rules and press explain!</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
} else {
    @if(explanations.size() == 0) {
        <div class="py-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">No Explanations!</h4>
                            <p>Add more rules, facts or or text resources!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }


    <div class="container">

        <!--
        <div class="row">
            @* <div class="col-md-4">
            <h4> Sort By: </h4>
            </div>
            <div class="col-md-8 pull-right">
            *@
            <div class="col-md-12">
                <label for="sorting-group">Sort by:</label>
                <div id="sorting-group" class="form-control btn-group align-self-right" data-toggle="buttons">
                    <label class="btn btn-light active">
                        <input type="radio" name="generation" id="option1" autocomplete="off" checked class="sorting"> Generation
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="quality" id="option2" autocomplete="off" class="sorting"> Quality
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="length" id="option3" autocomplete="off" class="sorting"> Length
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="depth" id="option3" autocomplete="off" class="sorting"> Depth
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="cost" id="option3" autocomplete="off" class="sorting"> Cost
                    </label>
                </div>
            </div>
        </div>
    -->
    <div class="row">
        @* <div class="col-md-4">
        <h4> Sort By: </h4>
        </div>
        <div class="col-md-8 pull-right">
        *@
        <div class="col-sm align-self-end text-right">
            <label for="sorting-group">Sort by:</label>
            @*<div class="custom-control custom-radio custom-control-inline">*@
                @*<input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">*@
                @*<label class="custom-control-label" for="customRadioInline1">Generation</label>*@
            @*</div>*@


<!-- data-toggle="buttons"-->
            <div id="sorting-group" class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light active">
                    <input type="radio" name="sort" id="generation" autocomplete="off" checked > Generation
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="sort" id="quality" autocomplete="off" > Confidence
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="sort" id="length" autocomplete="off" > Length
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="sort" id="depth" autocomplete="off" > Depth
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="sort" id="cost" autocomplete="off" > Cost
                </label>
            </div>
        </div>
    </div>

    <!--
        <div class="row">
            @* <div class="col-md-4">
            <h4> Sort By: </h4>
            </div>
            <div class="col-md-8 pull-right">
            *@
            <div class="col-md-12">
                <label for="sorting-group">Sort by:</label>
                <div id="sorting-group" class="btn-group bt-group-sm" data-toggle="buttons">
                    <button type="button" name="generation" id="option1" autocomplete="off" checked class="btn sorting"> Generation </button>
                        <button type="button" name="quality" id="option2" autocomplete="off" class="btn sorting"> Quality </button>
                        <button type="button" name="length" id="option3" autocomplete="off" class="btn sorting"> Length </button>
                        <button type="button" name="depth" id="option3" autocomplete="off" class="btn sorting"> Depth </button>
                        <button type="button" name="cost" id="option3" autocomplete="off" class="btn sorting"> Cost </button>
                </div>
            </div>
        </div>
    -->

            <!--
        <script>
                $(document).ready(function() {
                    $('input[type=radio]').change(function() {
                        var method=this.name
                        $(".explans").each(function(){
                            $(this).html($(this).children('dd').sort(function(a, b){
                                return ($(b).data(method)) < ($(a).data(method)) ? 1 : -1;
                            }));
                        });

                    });
                });

        </script>
        -->

        <div class="row">
            <div class="col-md-12">
                <div class="explans">
                @for((explan, index) <- explanations.getExplanations().zipWithIndex) {
                    @explan_card(explan,index)
                }
                </div>
            </div>

        </div>

        }
    </div>


    <script>
            $(document).ready(function() {
                $('input:radio[name="sort"]').change(function() {
                    var method=this.id
                    // alert("method: "+method)
                    $(".explans").each(function(){
                        $(this).html($(this).children('dd').sort(function(a, b){
                            // alert(" values: "+ $(b).data(method) + $(a).data(method));
                            return ($(b).data(method)) < ($(a).data(method)) ? 1 : -1;
                        }));
                    });

                });
            });

    </script>



